/* Structure */
p,
h1,
h2,
h3,
a {
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 24px;
    margin: 16px 0;
}

h2 {
    font-size: 21px;
    margin: 13px 0;
    color: #ffddff;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #121212;
	text-decoration: none;
}
a:hover {
    color: #441244;
}

body {
    margin: 0;
    overflow-x: hidden;
}

iframe {
	width: 100%;
}
table {
	border-collapse: collapse
}
.flex100 {
	flex: 1 0 100%;
}
.flex50 {
	flex: 1 0 50%;
}
/* ======= */
header,
main,
footer {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    font-size: 16px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
header {
    height: 70px;
    z-index: 1;
    top: 30px;
    font-size: 0;
    position: fixed;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
main {
    top: 0;
}
footer {
    height: 50px;
    background: #050505;
    top: 70px;
    padding: 15px;
}
footer a {
	color: #ddd;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}
/* header */

.title a {
	color: #8f008f;
	text-decoration: none;
}
.title a:hover {
	color: #e166e1;
	text-decoration: none;
}
header h1.title {
    font-family: 'Bree Serif', serif;
    font-size: 31px;
    font-weight: normal;
    position: absolute;
    top: 13px;
    left: 35px;
    margin: 0;
}

header nav {
    position: absolute;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav> ul li {
    display: inline-block;
    position: relative;
    width: 115px;
    height: 45px;
    text-align: center;
    top: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

	/* main */
table tbody:not(:last-child):after {
	display: block;
	content: '';
	height: 20px;
}
table tbody tr:nth-child(odd) {
	background: rgba(130,130,130,0.4);
}
table thead tr {
    background: #8f008f;
	font-weight: bold;
}
table td:nth-child(2),
table td:nth-child(3) {
	text-align: right;
}
table {
	width: 100%;
}
table td {
	padding: 10px;
}
main {
    top: 70px;
}
main .background {
    display: none;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}
main .background.active {
    display: block;
	
}
footer a:hover,
.text-box a {
	text-decoration: underline;
	color: #f0b2f0;
}
.text-box a:hover {
	text-decoration: underline;	
}
main .text-box {
    position: relative;
    top: 0px;
    background: rgba(30,30,30, 0.7);
    min-height: 260px;
    width: 100%;
    padding: 5px 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
main .text-box p {
    font-size: 18px;
    font-weight: 700;
    color: #ddd;
    text-align: justify;
	line-height: 26px;
}
main .text-box img {
    max-width: 100%;
    margin: 10px 0;
}
main .text-box.kozmetika {
	color: #ddd;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.flex .right,
.flex .left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.flex .left {
    padding: 5px 20px 5px 0;
}

/* fooldal*/
.background.bg-1 {
    background-image: url("../images/bg-3.jpg");
}
/* kozmetika */
.background.bg-2 {
    background-image: url("../images/bg-1.jpg");
}
/* kozmetika-arlista */
/* kozmetika-kezelesek */
/* fodraszat */
/* fodraszat-arlista */
#fodraszat-arlista,
#kozmetika-arlista h2,
#kozmetika-arlista  {
	color: #353535;
}
#kozmetika-arlista .text-box ,
#fodraszat-arlista .text-box {
	background: rgba(30,30,30, 0.1);
}
#kozmetika-arlista table thead tr,
#fodraszat-arlista table thead tr{
	color: #f5f5f5;
}
/* kapcsolat */
#kapcsolat h1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
}
#kapcsolat .text-box p a {
    color: #ddd;
	text-decoration: none;
}
#kapcsolat .text-box p a:hover {
	text-decoration: underline;
}
#kapcsolat {
	color: #ffddff;
}
.facebook a {
	color: #ffddff;
}
.facebook a:before,
.phone a:before ,
.map a:before {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
.facebook a:before {
    background: url("../images/facebook.png") center center no-repeat white;
}
.phone a:before  {
    background: url("../images/phone-call.png") center center no-repeat;
	margin: 10px 10px 10px 0;
}
.map a:before  {
    background: url("../images/google-maps.png") center center no-repeat;
}
.nyitvatartas .today {
	background: #353535;
}
/* impresszum */

/* Responsive */

/* DESKTOP */

@media all and (min-width: 769px) {
    nav> ul > li:hover {
        background: rgba(255, 210, 255, 0.4);
    }
    nav> ul > li:hover a {
        color: #fff;
    }
    nav> ul > li:hover li>a {
        color: #121212;
    }
    nav> ul > li:hover li:hover>a {
        color: purple;
    }
    nav > ul > li:hover >ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


/* TABLET */

@media all and (max-width: 768px) {
	header {
    background: #f5f5f5;
    top: 0px;
    -webkit-box-shadow: 0 0px 60px -10px #555;
            box-shadow: 0 0px 60px -10px #555;
}
    header h1.title {
        left: 20px;
    }
    header nav {
        right: 0;
    }
    header nav .mobile-nav {
        display: block;
    }
    header > nav > ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -583px;
        right: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    header > nav.open> ul {
        visibility: visible;
        opacity: 1;
        right: 0;
        top: 70px;
        -webkit-box-shadow: 0 5px 10px #777;
                box-shadow: 0 5px 10px #777;
    }
    nav> ul> li {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #833283;
        background: #ddd;
    }
    nav> ul> li:last-child {
        border-bottom: none;
    }
    nav> ul> li> ul {
        height: 0;
        background: #FFF8FF;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-box-shadow: inset 0px 0px 20px -4px black;
                box-shadow: inset 0px 0px 20px -4px black;
        font-size: 0;
    }
    nav> ul> li.open {
        background: #343434;
    }
    nav> ul> li.open >a {
        color: #ffddff;
    }
    nav> ul> li.open> ul {
        height: auto;
    }
    header nav ul li {
        display: block;
        width: 100%;
        height: auto;
        -webkit-transition: all 0.64s ease-in-out;
        transition: all 0.64s ease-in-out;
    }
    nav> ul > li a {
        display: block;
        width: 100%;
        line-height: 70px;
        font-size: 24px;
        background: transparent;
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
    }
    nav> ul > li:not(.open) >ul> li >a {
        font-size: 0;
    }
    nav .mobile-nav {
        display: block;
        width: 60px;
        height: 70px;
        position: relative;
        cursor: pointer;
        right: 10px;
        top: 0px;
    }
    nav .mobile-nav span {
        display: block;
        position: absolute;
        width: 30px;
        height: 6px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: #121212;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: scale(1);
                transform: scale(1);
        left: 15px;
    }
    nav> ul> li.accordion.open > ul {
        position: static;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .accordion .opener {
        display: block;
        width: 20px;
        height: 20px;
        background: blue;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    nav .mobile-nav span:nth-child(1) {
        top: 23px;
    }
    nav .mobile-nav span:nth-child(2),
    nav .mobile-nav span:nth-child(3) {
        top: 32px;
    }
    nav .mobile-nav span:nth-child(4) {
        top: 41px;
    }
    nav.open .mobile-nav span:nth-child(2) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        background: red;
    }
    nav.open .mobile-nav span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        background: red;
    }
    nav.open .mobile-nav span:nth-child(1),
    nav.open .mobile-nav span:nth-child(4) {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    .accordion {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .accordion span {
        display: block;
        background: black;
        margin: 2px;
        position: absolute;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    li.open .accordion span {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
        background: #ffddff;
    }
    .accordion span:nth-child(2) {
        width: 16px;
        height: 4px;
        top: 22px;
        left: 16px;
    }
    .accordion span:nth-child(1) {
        width: 4px;
        height: 16px;
        top: 16px;
        left: 22px;
    }
	#kapcsolat iframe {
		height: 350px;
	}
}

@media all and (max-width: 530px) {
	.flex .right,
	.flex .left {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 100%;
		        flex: 1 0 100%;
		padding: 5px 0;
	}
	main .text-box p {
		font-size: 15px;
	}
	#kapcsolat iframe {
		height: 250px;
	}
}